.env
user_games.json
user_profile.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
chess_env/
venv/
.env/

# Node
node_modules/

# OS
.DS_Store

# Kafka
client.properties

# Binaries
/backend/bin/

# Audios

audio/
*.mp3

#Kiro Helpers
requirements.md
design.md
tasks.md
DEBUGGING_SUMMARY.md
DEBUG_DUPLICATION.md
TESTING_GUIDE.md
CHESS_BOARD_SETUP.md
